.filters {
  &__tags {
    width: fit-content;
    padding: 0.5rem 2rem;
    margin: 1rem 1rem -2rem 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  &__dropDown {
    width: 40px;
    height: 54px;
    background: none;
    cursor: pointer;
    border: 0;
    border-radius: 0 5px 5px 0;
  }

  &__btn {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-color;

    &--ingredients {
      background-color: $color-1;
    }

    &--device {
      background-color: $color-2;
    }

    &--ustensils {
      background-color: $color-3;
    }
  }
}

.ico {

  &__search {
    width: 33px;
    height: 33px;
    margin-right: 2rem;
  }

  &__close {
    width: 24px;
    height: 24px;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
  
  &__dropUp {
    transform: rotate(180deg);
  }
}
