// Lato
@font-face {
  font-family: 'Lato';
  src: url('../../public/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url('../../public/assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
}
// DMsans
@font-face {
  font-family: 'DMsans';
  src: url('../../public/assets/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
}
// Roboto
@font-face {
  font-family: 'Roboto';
  src: url('../../public/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

html {
  font-family: 'Lato', sans-serif;
}

.Search__input {
  font-family: 'Lato', sans-serif;
  &::placeholder {
    font-family: 'Lato', sans-serif;
  }
}

