//Responsive for card recipes
@media screen and (max-width: 1260px) {
  .recipe {
    &__mainContainer {
      width: 100%;
      margin: 2rem auto;
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
      gap: 25px;
    }

    &__container {
      max-width: 380px;
    }
  }
}

//Responsive for tags
@media screen and (max-width: 1024px) {
  .filters {
    &__taglist {
      justify-content: center;
      flex-wrap: wrap;
    }

    &__mainContainers {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__container {
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .tags {
    &__taglist {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
  }
}

@media screen and (max-width: 798px) {
  #results__ingredients {
    display: none!important;
  }

  #results__devices {
    display: none!important;
  }

  #results__ustensils{
    display: none!important;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 100vw;
  }

  .main {
    &__wrapper {
      margin: 0 auto;
    }
  }

  .filters__inputContainer {
    width: 454px !important;
    align-content: center !important;
    padding: 0 24px 0 16px;
  }

  .btn-Expansed {
    width: 454px !important;
  }

  .filters__Section {
    margin-left: 10%;
  }
}

@media screen and (max-width: 748px) {
  .btn-not-Expansed {
    width: 200px !important;
  }
  
  .tags__taglist {
    gap: none;
  }
}

@media screen and (max-width: 568px) {
  .filters__Section {
    margin-left: 5%;
  }
}

@media screen and (max-width: 536px) {
  .filters__Section {
    margin-left: 25%;
  }

  .btn-Expansed {
    width: 197px !important;
  }

  .filters__inputContainer{
    width: 194px !important;
    position: relative;
    padding: 0 27px 0 16px;
  }

  .tags {
    &__taglist {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }    
  }
}

@media screen and (max-width: 472px) {
  .filters__Section {
    margin-left: 20%;
  }
}

