.filters {
  &__mainContainer {
    margin: 0 1rem;
    width: auto;
  }

  &__taglist {
    display: flex;
  }
  
  &__tag {
    border-radius: 5px;
  }

  &__Section {
    display: flex;
    margin: 2rem 0;
  }

  &__container {
    margin: 0 1rem 1rem 0;
    max-width: 670px;
  }

  &__form {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
  }

  &__input {
    height: 100%;
    border-radius: 5px 0 0 5px;
    height: 50px;
    width: 200px;
  }
  
  &__listContainer {
    width: 100%;
    padding: 10px;
    background: none;
    cursor: pointer;
    border: 0;

    &:focus-visible {
      outline: 0;
    }

    &--ingredients {
      background-color: $color-1;
    }

    &--device {
      background-color: $color-2;
    }

    &--ustensils {
      background-color: $color-3;
    }
  }
}