.searchBar {
  background-color: #E7E7E7;
  height: 60px;
  margin: 10rem 5rem 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 95%;
  &__input{
    background-color: #E7E7E7;
    border: 0;
    border-radius: 5px;
    height: 60px;
    &::placeholder {
      font-size: 16px;
    }
  }
  &__icon {
    height: 30px;
    width: 30px;
    position: static;
    padding-right: 20PX;
  }
}

#search {
  width: 100%;
  padding-left: 2rem;
  display: flex;
  font-size: 1.5rem;
}

