.tags {
  &__taglist {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    padding-left: 0;
    list-style-type: none;
    gap: 10px;
  }
}

.tag {
  max-width: 100%;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  background: none;
  color:white;
  cursor: pointer;
}
